*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 100vh;   
    overflow: hidden;
}

.contenitore-giallo-rosso{
    display: flex;
    width: 100%;
}

.giallo{
    height:1010px;
    width: 15%;
    background-color: yellow;
}
.rosso{
    height:1010px;
    width: 85%;
    background-color: red;
    z-index: 1;
    padding-top: 6rem;
    overflow: scroll;
   
}
.upgrade{
    height: 90px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 15%;
    right: 0px;
    z-index: 3;
}
.player{
    height: 90px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: black;  
    z-index: 2;
}